<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="row-fluid">
	<div class="well">
	<p>Welcome to the Neighbor Market install page.  Before continuing, please ensure that you have updated the configuration files with the correct database and email information for your site.  This installer will create the necessary tables in the database for the site to run as well as create some initial data that it needs.  When you are ready to proceed press the Install button below.
	</p>
	<div>
		<%= button_to "Install", { :action => "install" }, {:form => {:id => "InstallButton"}, :class => "btn"} %>
	</div>
</div>