<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <P>A new seller, <%= @user.first_name + " " + @user.last_name  %>,  has signed up at Garden Marketplace. 
      Please review and approve their acccount. </p>
  </body>
</html>