<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <P>A new seller, <%= @user.first_name + " " + @user.last_name  %>,  has signed up at <%= @site_settings.site_name %> . 
      Please <a href="<%= new_user_session_url %>">log in</a> to review and approve their account. </p>
  </body>
</html>