<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <strong>The below order change request has been completed</strong>
      <div style="margin:10px 0px 5px 0px; ">
        Request Description:
      </div>
	  <div>
      	<%= @request.description %>
      </div>
  </body>
</html>