<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <strong>One or more items in your order was modified or removed. Your updated order is below.</strong>
	<%= render :partial => "order_table", :locals => {:order => @order} %>
  </body>
</html>