<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4 style="padding-bottom:15px;">The current order cycle at <%= @site_settings.site_name %> ended on <%= format_date_time(@order_cycle.end_date) %>. Below is your order summary:</h4>
	<% if @order.has_cart_items_where_order_cycle_minimum_not_reached? %>
		<p>
			<strong>Some items in your original order did not meet the minimum purchase quantity and have been removed from your order.</strong>
		</p>
	<%end%>
	<strong>*Please note the payment instructions for each item. You will need to have payment available when you receive your goods.</strong>
	<div style="margin-bottom:15px;">
		<%= render :partial => "order_table", :locals => {:order => @order} %>
	</div>
	<%= pickup_instructions(@order_pickup_date, @order)%>
  </body>
</html>