<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank You!</h1>
    <h4 style="padding-bottom:15px;">Below is your order summary</h4>
	<% if @order.has_items_with_minimum? %>
		<p>
	  	Your order contains some items that require a minimum amount to be purchased between all buyers for this order cycle before the seller will deliver the items.  The quantity that still needs to be purchased is shown in the "Minimum" column below. They are included in your total, but if the minimum is not met before the end of the order cycle these items will be removed from your order and you will not be responsible for paying for them.  You can help reach the minimum by encouraging your friends and family to also purchase the item.
		</p>
	<%end%>
    <strong>*Please note the payment instructions for each item. You will need to have payment available when you receive your goods.</strong>
	<div style="margin-bottom:15px;">
		<%= render :partial => "order_table", :locals => {:order => @order} %>
	</div>
	<%= pickup_instructions(@site_settings, @order_pickup_date, @order)%>
  </body>
</html>