<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<p>
	Thank you for participating in <%= @site_name %>. Please rate and review your purchased products when you have a chance by logging in <a href="<%= user_reviews_inventory_items_url %>">here</a>. Reviews and ratings are an important part of building the trust that helps make the <%= @site_name %> community strong. Thanks again, and we hope to see you next time!
	</p>
	<p>
	  Sincerely,<br>
	  The <%= @site_name %> Team
	</p>
  </body>
</html>