<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <strong>The below inventory item change request has been completed</strong>
    <table border=1 style="border-collapse: collapse;">
    <thead>  
      <tr>
        <th>Inventory Item Name</th>
        <th>Request Description</th>
      </tr>
    </thead>
      <tbody>
		<tr>
          <td><%= item_name(@request.inventory_item) %></td>
          <td><%= @request.description %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>