<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>A new order cycle has started at <%= @site_settings.site_name %> and will end on <%= format_date_time(@order_cycle.end_date) %>.</p>
		<p>Please <a href="<%= new_user_session_url %>">log in</a> to update your inventory for this cycle.</p>
		<div style="margin-top: 40px;">
			<p>Don't want to receive these emails anymore? <a href="<%= edit_user_preference_url(@seller.user_preference, user_email: @seller.email, user_token: @seller.authentication_token) %>">click here</a> to update your email preferences.</p>
		</div>
	</body>
</html>