<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <P>Congratulations!  Your Seller account at <%= @site_settings.site_name %> has been approved. <a href="<%= new_user_session_url %>">Log in</a> to begin posting your items for sale.</p>
  </body>
</html>