<p>Your Neighbor Market site has been successfully installed</p>

<p>Click the link below to confirm your manager account and continue configuring your site:</p>

<p><%= link_to 'Complete my registration', user_auto_create_confirmation_url(:confirmation_token => @user.confirmation_token) %></p>