<div class="container-fluid">
  <div style="margin-bottom: 15px;">
    <%= link_to "Printable Pick List (PDF)", pick_list_seller_index_path(:format => 'pdf'), {:class => 'btn'} %>
  </div>
  <div class="well row-fluid">
      <table class="table" >
      <thead>  
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
        <tbody>
          <%@inventory_items.each do |item|%>
          <tr>
            <td><%= item.id %></td>
            <td><%= item_name(item) %></td>
            <td><%= "#{item.sum}#{" "}#{item_quantity_label(item, item.sum.to_i)}" %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
  </div>
</div>
