<p>
  <b>Approved:</b>
  <%= user.seller.approved %>
</p>
<p>
  <b>Listing Approval Style:</b>
  <%= user.seller.listing_approval_style %>
</p>
<p>
  <b>Payment Instructions:</b>
  <%= user.seller.payment_instructions %>
</p>
