<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 well">
      <p>
        <b>First Name:</b>
        <%= @user.first_name %>
      </p>

      <p>
        <b>Last Name:</b>
        <%= @user.last_name %>
      </p>

      <p>
        <b>About Me:</b>
        <%= @user.aboutme %>
      </p>
    </div>
  </div>
</div>

