<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="container-fluid">
  <div class="row">
	<div class="col-md-12">
		<h1>Thank You!</h1>
		<h4 style="padding-bottom:15px;">Below is your order summary. You will also recieve an email containing this information.</h4>
		<%= pickup_instructions(@order_pickup_date, @order)%>
		<strong>*Please note the payment instructions for each item. You will need to have payment available when you receive your goods.</strong>
		<%= render "order" %>
	</div>
  </div>
</div>