<div class="container-fluid">
  <h2>Your Order</h2>
    <p class="notice"><%= flash[:notice] %></p>
    <%= render "order" %>
    <div class="row-fluid">
      <div class="span1">
        <%= button_to "Purchase", orders_path, method: :post, :class => "btn btn-primary" %>
      </div>
    </div>
</div>
