<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class="container-fluid">
  <h2>Order</h2>
  <%= render "order" %>
  <% if current_user.id == @order.user_id && !current_user.manager?%>
  	<%= link_to "Request Order Change", new_order_change_request_path(@order.id), :class => "btn btn-danger" %>
  <% elsif current_user.manager? %>
	<%= button_to "Cancel Order", { :action => "destroy", :controller => "orders", :id => @order.id}, { :method => "delete", :class => "btn btn-danger", :data => {:confirm => "Are you sure you want to cancel this order?"}} %>
  <% end %>
</div>