<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

  <h4>Add User</h4>
  <div style="margin-bottom:10px;">
	<%= render 'user/new', :user => User.new%>
  </div>
  <div>
	<h4>Upload Multiple Users</h4>
    <%= form_tag import_user_index_path, :multipart => true, :class => 'well', :id => 'user_upload_form' do %>
		<%= file_field_tag "file" %>
		<div>
			<%= submit_tag "Upload Users", :class => 'btn' %>
		</div>
	<% end %>
  </div>