<h4>User profiles updated in the last 30 days</h4>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
        <th>Name</th>
        <th>Updated Date</th>
		<th>Roles</th>
		<th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.last_name}, #{user.first_name}" %></td>
		<td><%= format_short_date(user.updated_at) %></td>
		<td><%= user.roles.map(&:name).join(",") %>
        <td><%= button_to "Show Details and Edit", { :action => "edit", :controller => "user", :id => user.id}, {:form => {:class => "editUsersButton"}, :method => "get", :class => "btn", :style => "width: 100%;"} %></td>
      </tr>
    <%end%>
  </tbody>
</table>

