<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<%= form_for @user, :url => { :action => "create", :controller => "user" }, :html => { :id => 'NewUserForm', :class => 'well' } do |f| %>
	<div>
		<% @user.errors.full_messages.each do |msg| %>
	      <p><%= msg %></p>
	    <% end %>
	</div>
    <div>
		<div class="form-group">
			<label>Email</label>
			<div class="row">
				<div class="col-md-4">
	      			<%= f.text_field :email, class: "form-control" %>
				</div>
			</div>
		</div>
	  	<div class="checkbox">
		  	<label>
		  		<input type="checkbox" name="manager"> Manager?
			</label>
		</div>
    </div>
	<div style="margin-top: 10px;">
	  <%= f.submit("Create User", :class => 'btn') %>
	</div>
<% end %>