/*
Copyright 2013 Neighbor Market

This file is part of Neighbor Market.

Neighbor Market is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Neighbor Market is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
*/

@media screen and (min-width: $screen-sm-min){
	.jumbotron {
		padding-top: $jumbotron-padding;     
		padding-bottom: $jumbotron-padding;  
	}
	
	.sb-slidebar .topRow
	{
		padding-top: 20px; 
		padding-bottom: 21px; 
	}
}

@media screen and (min-width: $screen-lg-min){	
	.marketing-description
	{
		height: 100px;
	}
}

body
{
	padding-top: 60px;
}

#sb-site
{
	padding-top: 60px;
	background-color: $body-bg;
}

.navicon-line {
    background-color: $gray-darker;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    height: 4px;
    margin-bottom: 3px;
    width: 24px;
}

.sb-slidebar
{
	background-color: $navbar-default-bg;
}

.sb-slidebar .topRow
{
	@include sandstone();
	padding-top: 19px; 
	padding-bottom: 20px; 
	color: $navbar-default-color; 
	text-align: center
}

.sb-menu .list-group-item
{
	border-radius: 0;
}

#SiteDescription
{
	margin-bottom: 30px;
}

#items .pagination{
	display: none;
}

.marketing 
{
    text-align: center;
}

.marketing h2
{
    font-size: 30px;
    line-height: 40px;
}

.marketing p
{
    font-size: 16px;
    line-height: 1.5;
}

.marketing-icon-container
{
	font-size:50px; 
	margin-bottom: 20px;
}

#pageless-loader.msg
{
	color: $gray-darker !important;
}