.itemDescription h2
{
	margin-top: 0;
}

.itemDescription label
{
		display: inline; 
		font-weight: bold; 
		padding-right: 5px;
}

.inventorySellerLink img
{
	display: inline; 
	height: auto; 
	width: 40px;
	margin-right: 5px;
}

