.itemDescription h2
{
	margin-top: 0;
}

.itemDescription label
{
		display: inline; 
		font-weight: bold; 
		padding-right: 5px;
}

.inventorySellerLink img
{
	display: inline !important; 
	height: auto !important; 
	width: 40px !important; 
	margin-right: 5px !important; 
}

#InventoryItemCarousel{
	.carousel-caption {
	    z-index: 10;
	}
	.carousel .item {
	    background-color: #f1e8d3;
		border-radius: 4px;
	}
	.carousel-inner > .item > .wrapper > a > img  {
	    margin: 0 auto;  /*important */
		height: 300px;
		width: auto;
		max-width: 100%;
	}
	.wrapper{
		height: 300px;
	}
	.carousel-caption {
	    background: rgba(0, 0, 0, 0.35);
		max-width: 100%;
		width: 100%;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 0;
	}
	.carousel-caption a {
	    color: $carousel-caption-color;
	}
}

.reviewsContainer{
	.pagination
	{
		margin:0;
	}
}

