// Place all the styles related to the management controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .category-heading
  {
    font-weight:bold;
  }
  
  .category-cell
  {
    display:inline-block;
    width:24%;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right:-3px;
    padding-left: 4px;
  }