<h2>Thank you for signing up!</h2>
<h4>A message has been sent to your email address with instructions for completing your registration. Your seller account is also being reviewed by the site manager and you will receive an email when it is approved and you can begin posting items for sale.</h4>
