<%
#
#Copyright 2013 Neighbor Market
#
#This file is part of Neighbor Market.
#
#Neighbor Market is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#Neighbor Market is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.
#
#You should have received a copy of the GNU General Public License
#along with Neighbor Market.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<div class ="col-md-9">
	<h1><%= title "Privacy", "Protecting Your Privacy"%></h1>
	<p>
	  	We don't share your information with third parties for marketing purposes.
	</p>
	<p>
		We don't engage in cross-marketing or link-referral programs with other sites.
	</p>
	<p>
	  	We don't employ tracking devices for marketing purposes ("cookies", "web beacons," single-pixel gifs).
	</p>
	<p>
	  	We don't send you unsolicited communications for marketing purposes.
	</p>
	<p>
	  	<%=@site_name %> or people who post on <%=@site_name %>, may provide links to third party websites, which may have different privacy practices. We are not responsible for, nor have any control over, the privacy policies of those third party websites, and encourage all users to read the privacy policies of each and every website visited.
	</p>
</div>