<% content_for :MainContent do %>
  <div class="subnav">
      <ul class="nav nav-pills">
        <li><a onclick="LoadApproveSellers();" href="javascript:void(0);">Approve Sellers</a></li>
        <li><a onclick="LoadUserSearch();" href="javascript:void(0);">User Search</a></li>
        <li></li>
      </ul>
    </div>
  </div>
<%= content_for?(:management_content) ? yield(:management_content) : yield %>
<% end %>  
<%= render :template => 'layouts/application' %>

<script type="text/javascript">
  
  function LoadApproveSellers(){
    url = '<%=  management_approve_sellers_path %>'
    $('#ManagementContent').load(url);
  };

  function LoadUserSearch(){
    url = '<%=  management_user_search_path %>'
    $('#ManagementContent').load(url);
  };
  
</script>

